{% extends "base.html" %}
{% block title %} Profile {% endblock %}
{% block content %}
<div class="container">
  <h2>{{ data.first_name }} {{ data.last_name }}</h2>
  <h5>{{ data.program }}</h5>
  <div class="card">
    <div class="card-content">
      <h4>About</h4>
      <p>{{ data.about }}</p>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h4>Education</h4>
      <div>
        {% for education in data.education %}
        <div class="divider"></div>
        <div class="row">
          <div class="col s6">
            <h5>{{ education.name }}</h5>
            <em>{{ education.degree }}</em>
          </div>
          <div class="col s6 right-align">
            <br />
            <p>{{ education.date }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h4>Work Experience</h4>
      <div>
        {% for experience in data.experience %}
        <div class="divider"></div>
        <div class="row">
          <div class="col s6">
            <h5>{{ experience.name }}</h5>
            <em>{{ experience.position }}</em>
            <p>{{ experience.detail }}</p>
          </div>
          <div class="col s6 right-align">
            <br />
            <p>{{ experience.date }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h4>Relevant Coursework</h4>
      <table>
        <thead>
          <tr>
            <th>Course Code</th>
            <th>Name</th>
          </tr>
        </thead>

        <tbody>
          {% for course in data.coursework %}
          <tr>
            <td>{{ course.code }}</td>
            <td>{{ course.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
